* {
    box-sizing: border-box;
  }

#results {
    width:100%;
}
.venue {
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 10px;
    overflow: auto;
}
.venue-top {
    background-color:teal;
    height: 100%;
    width:100%;
}

form {
    padding: 10px;
    border: solid teal 5px;
    border-radius: 10px;
}

fieldset {
    border: none;
}
.title {
    text-align: center;
    width:100%;
    height: auto;
    background-color: teal;
    color: white;
    margin: 0px;
    padding: 10px;
}
.half-left {
    float:left;
    width: 50%;
}
.half-right {
    float:left;
    width: 50%;
}
.hidden {
    display: none;
}
.times {
    clear: right;
}
.timesList {
    clear: right;
    display:flex;
    flex-direction: column;
    padding-left: 0px;
}
.venue img {
    float: right;
    border: rgb(65, 63, 63);
    border-radius: 25px;
    width:100%;
    height:auto;
    margin-top: auto;
    margin-bottom: auto;
}
button[type='submit'] {
margin-left: auto;
margin-right:auto;
display: block;
background-color: teal;
border-radius: 10px;
padding:20px;
color: white;
font-style: bold;
}
li {
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    float: left;
}
li p {
    margin-top:2px;
    margin-bottom: 2px;
}

.rating {
margin: 3px;
}
.score {
    border: 3px dotted orange;
    border-radius: 100%;
    padding: 3px;
}
.day {
    font-weight: bold;
}

@media (min-width: 600px) {

    body {
    margin: 10%;
}

li {
   margin:5px;
   border: 2px solid black;
}

}

@media (min-width: 900px) {

    

}

@media (min-width: 1200px) {

    

}